<div class="card ">
    <img [src]="product.imageUrl" [alt]="product.courseName" width="200px" height="200px" class="card-img-top p-1 small">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="small"><a class="text-muted text-decoration-none" href="">{{product.course}}</a></p>
        </div>
        <div class="d-flex justify-content-between">
            <h6>{{product.courseName}}</h6>
            <h6>${{product.price}}</h6>
        </div>
        <div>
            <div class="text-warning">
                <i [class]="product.rating > 0 ?'bi bi-star-fill':'bi bi-star'"></i>
                <i [class]="product.rating > 1 ?'bi bi-star-fill':'bi bi-star'"></i>
                <i [class]="product.rating > 2 ?'bi bi-star-fill':'bi bi-star'"></i>
                <i [class]="product.rating > 3 ?'bi bi-star-fill':'bi bi-star'"></i>
                <i [class]="product.rating > 4 ?'bi bi-star-fill':'bi bi-star'"></i>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            @if (product.seat==0) {
                <button class="btn btn-secondary disabled mt-3 py-1 " type="button">No Seat</button>
            }@else { 
                <button type="button" class="btn btn-outline-success mt-3 py-1">Seat</button>
            }
        </div>
    </div>
</div>